@import "../../utils/_variables.scss";

.c_resultList-row {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #666;
  color: white;
  padding: 10px 0 10px 0;
  font-size: 0.85em;
}

.yellow-bgr {
  background: rgb(235, 199, 0);
  color: #222;
}

.c_resultList-score {
  width: 20%;

  text-align: center;
  h1 {
    font-size: 1.5em;
  }
}

.c_resultList-team-blue {
  width: 35%;

  display: inline-block;
  text-align: end;
  font-size: 1em;
  align-self: center;
  p {
    margin: 0;
  }
}
.c_resultList-team-red {
  width: 35%;

  font-size: 1em;
  align-self: center;
  p {
    margin: 0;
  }
}

.c_resultList-adjustment-blue {
  display: none;
  justify-content: space-between;
  width: 7.5%;
  padding-left: 15px;
  margin: auto;
  img {
    width: 15px;
    height: 15px;
    margin: auto 0;
  }
}

.c_resultList-adjustment-red {
  display: none;
  justify-content: space-between;
  width: 7.5%;
  padding-right: 15px;
  margin: auto;
  img {
    width: 15px;
    height: 15px;
    margin: auto 0;
  }
}

@media screen and (min-width: 778px) {
  .c_resultList-row {
    
    font-size: 1em;
  }

  .c_resultList-adjustment-red {
    display: flex;
  }

  .c_resultList-adjustment-blue {
    display: flex;
  }
}
